@import "client/stylesheets/colours.scss";

main {
  color: $light-grey;
  margin-top: 80px;
}

.post.panel {
  background-color: $color-secondary-2-2;
  
}

.panel {
  padding: 20px;
  width: calc(80% - 40px);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: $color-secondary-2-2;
  position: relative;
}

.panel.welcome {
  padding: 50px;
  width: calc(80% - 100px);
  max-width: 700px;
  text-align: center;
}

.panel .icons {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

i.complete {
  color: $color-success;
}

.send i {
  color: $color-danger;
}

input,
textarea {
  color: $dark-grey;
}

body {
  background-color: $color-secondary-2-3;
}

.home-menu {
  padding: 10px;
  background-color: $color-primary-0;
  color: $light-grey;
}

.home-menu ul {
  float: left;
}

.home-menu .pure-menu-heading{
  float: right;
}
.pure-menu-heading,
.pure-menu-link
{
  color: $light-grey;
}

.pure-menu-link {
  background-color: $color-primary-2;
}

.pure-menu-active>.pure-menu-link,
.pure-menu-link:hover,
.pure-menu-link:focus {
  background-color: $color-primary-1;
}

.pure-menu-link:focus + ul,
.pure-menu-children:hover {
  display: block;
}

/* Buttons */
// remove pure stuff
.pure-button-hover,
.pure-button:hover,
.pure-button:focus {
    filter: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
}

.button-go,
.button-success {
  color: $light-grey;
  background-color: $color-success;
}
.button-go:hover,
.button-success:hover {
  background-color: $color-success-alt;
}

// noAuth
.header {
  font-size: 2em;
  width: 100%;
  text-align: center;
}
